body{
    background-size: cover;
}

.heading{
    width:100%;
    font-size: 20;
    margin-top: 0px;;
}

#label{
    color: black;
    font-size: 16px;;
}

canvas{
    
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    
}